.tree-node {
  min-width: 200px;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.toggle-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid grey;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 33px;
}

.tree-node__children {
  position: relative;
  left: 101%;
}

.connector {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  background-color: #ccc;
  transform: translateY(-50%);
  transition: width 0.3s;
  top: 51%;
}

.tree-node-child:last-child > .tree-node.expanded ~ .connector {
  height: 33%;
  top: 0%;
}
.tree-node .tree-node-child:last-child > .connector {
  height: 60%;
  top: 20%;
}

.connector-expanded {
  width: calc(100% + 20px);
}

.toggle-icon {
  font-size: 39px;
  margin-right: 10px;
  height: 63px;
}

.connector-horizontal {
  position: absolute;
  top: calc(50% - 1px);
  right: 2px;
  width: 20px;
  height: 2px;
  background-color: #ccc;
  transition: width 0.3s;
  z-index: -1;
}
.connector-horizontalContainer {
  position: relative;
  height: 0;
}
.tree-node.expanded .connector-horizontal {
  width: 1.25rem;
}
.expandedConnector {
  height: 125%;
}
.connector-vertical {
  position: absolute;
  top: -10px;
  left: -20px;
  width: 2px;
  height: calc(100% + 20px);
  background-color: #ccc;
  transition: height 0.3s;
}

.tree-node.expanded .connector-vertical {
  height: calc(100% + 20px);
}

.tree-node-child {
  position: relative;
}
